.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer h1{
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.inputContainer h1 span {
  color: var(--primary-color);
}

.inputContainer div{
  display: flex;
  margin-bottom: 2rem;
}
.inputContainer input{
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.inputContainer input::placeholder{
  font-size: 0.9rem;
}

.inputContainer button{
  padding: 0.1rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

/* Result */
.result{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.result p{
  color: #fff;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.result button{
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
}

.result button.copied{
  background: #fff;
  color: var(--primary-color);
}

.noData{
  color: #fff;
  font-size: 1rem;
}
/* background animate*/

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 24s linear infinite;
}




.background li:nth-child(0) {
  left: 31%;
  width: 199px;
  height: 199px;
  bottom: -199px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 4%;
  width: 106px;
  height: 106px;
  bottom: -106px;
  animation-delay: 1s;
}
.background li:nth-child(2) {
  left: 32%;
  width: 126px;
  height: 126px;
  bottom: -126px;
  animation-delay: 4s;
}
.background li:nth-child(3) {
  left: 0%;
  width: 171px;
  height: 171px;
  bottom: -171px;
  animation-delay: 12s;
}
.background li:nth-child(4) {
  left: 1%;
  width: 191px;
  height: 191px;
  bottom: -191px;
  animation-delay: 19s;
}
.background li:nth-child(5) {
  left: 76%;
  width: 110px;
  height: 110px;
  bottom: -110px;
  animation-delay: 11s;
}
.background li:nth-child(6) {
  left: 10%;
  width: 157px;
  height: 157px;
  bottom: -157px;
  animation-delay: 10s;
}
.background li:nth-child(7) {
  left: 51%;
  width: 128px;
  height: 128px;
  bottom: -128px;
  animation-delay: 7s;
}
.background li:nth-child(8) {
  left: 54%;
  width: 190px;
  height: 190px;
  bottom: -190px;
  animation-delay: 37s;
}
.background li:nth-child(9) {
  left: 39%;
  width: 175px;
  height: 175px;
  bottom: -175px;
  animation-delay: 32s;
}
.background li:nth-child(10) {
  left: 32%;
  width: 112px;
  height: 112px;
  bottom: -112px;
  animation-delay: 14s;
}
.background li:nth-child(11) {
  left: 81%;
  width: 178px;
  height: 178px;
  bottom: -178px;
  animation-delay: 52s;
}
.background li:nth-child(12) {
  left: 43%;
  width: 107px;
  height: 107px;
  bottom: -107px;
  animation-delay: 4s;
}
.background li:nth-child(13) {
  left: 56%;
  width: 118px;
  height: 118px;
  bottom: -118px;
  animation-delay: 5s;
}
.background li:nth-child(14) {
  left: 22%;
  width: 172px;
  height: 172px;
  bottom: -172px;
  animation-delay: 58s;
}